@import "constants";

* {
    box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #EAFFFC;
}

button {
    color: #fff;
    background-color: $PRIMARY_COLOR;
    border: 1px solid $PRIMARY_COLOR;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 15px;
    text-shadow: 0px 1px rgba(0,0,0,0.1);

    &.secondary {
        background-color: #fff;
        border: 1px solid #C3C3C3;
        color: #999;
    }
}

input[type="text"] {
    border: 1px solid $PRIMARY_COLOR;
    padding: 10px 15px;

    &:active, &:focus {
        outline: none;
    }
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    min-height: 600px;
    .content {

    }
}

header {
    margin-bottom: 57px;
    background: #5bb2ef;
    padding-right: 26px;

    img.profile {
        border-radius: 24px;
        height: 40px;
        width: 40px;
    }

    .twitter {
        font-size: 21pt;
        color: white;
        padding-top: 11px;
    }

    .user {
      color: white;
      padding-top: 21px;
      display: inline-block;
      float: right;
      margin: 0px 20px;
      a {
        color: white;
        text-decoration: none;
      }
    }
}

h2 {
    margin: 20px auto 50px auto;
    letter-spacing: normal;
    text-transform: none;
    max-width: 700px;
    line-height: 1em;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -0.08em;
    line-height: 0.8em;
    margin: 35px 0 25px 0;
    padding: 0;
    text-rendering: optimizelegibility;
}

.house {
    font-weight: 300;
    text-align: center;

    .pre {
        color: #999;
        font-size: 15pt;
    }
    .title {
        font-size: 26pt;
        color: #3E3E3E;
    }

    .seperator {
        height: 4px;
        width: 150px;
        margin: 30px auto;
        background: #8DEBD4;
    }
}


.house-card {
    border: 3px solid $SECONDARY_COLOR;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    margin: 20px;
    padding: 40px 24px;
    height: 400px;
    width: 300px;
    text-align: center;
    vertical-align: top;

    .pre {
        color: #999;
        font-size: 15pt;
    }
    .title {
        font-size: 26pt;
        color: #3E3E3E;
    }

    .seperator {
        height: 4px;
        width: 150px;
        margin: 30px auto;
        background: #8DEBD4;
    }

    &:hover {
      border-color: $PRIMARY_COLOR;
    }
}

.world {
  img.world {
    position: absolute;
    bottom: -500px;
    z-index: 0;
  }

  .start {
    margin: 100px auto 0 auto;
    position: relative;
    height: 600px;

    img {
      width: 200px;
      margin-left: 50px;
      z-index: 999;
      position: relative;
      cursor: pointer;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
      transform: scale(1.2);
      }
      &:active {
        -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
      transform: scale(1.1);
      }
    }
    img.mingle {
      position: absolute;
      right: 0px;
      top: 70px;
      z-index: 0;
    }
  }
}
.rotating {
 -webkit-animation-name: spin;
  -webkit-animation-duration: 40000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}
