@import "constants";

* {
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

button {
    color: #fff;
    background-color: $PRIMARY_COLOR;
    border: 1px solid $PRIMARY_COLOR;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 15px;
    text-shadow: 0px 1px rgba(0,0,0,0.1);

    &.secondary {
        background-color: #fff;
        border: 1px solid #C3C3C3;
        color: #999;
    }
}

input[type="text"] {
    border: 1px solid $PRIMARY_COLOR;
    padding: 10px 15px;

    &:active, &:focus {
        outline: none;
    }
}

.container {
    margin: 0 auto;
    width: 1200px;

    .content {

    }
}

header {
    margin-bottom: 57px;
    background: #5bb2ef;
    padding-right: 26px;

    img.profile {
        border-radius: 24px;
        height: 40px;
        width: 40px;
    }

    .twitter {
        font-size: 21pt;
        color: white;
    }
}

h2 {
    margin: 20px auto 50px auto;
    letter-spacing: normal;
    text-transform: none;
    max-width: 700px;
    line-height: 1em;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -0.08em;
    line-height: 0.8em;
    margin: 35px 0 25px 0;
    padding: 0;
    text-rendering: optimizelegibility;
}

.house {
    font-weight: 300;
    text-align: center;

    .pre {
        color: #999;
        font-size: 15pt;
    }
    .title {
        font-size: 26pt;
        color: #3E3E3E;
    }

    .seperator {
        height: 4px;
        width: 150px;
        margin: 30px auto;
        background: #8DEBD4;
    }
}


.house-card {
    border: 3px solid $SECONDARY_COLOR;
    font-weight: 300;
    display: inline-block;
    margin: 20px;
    padding: 40px 24px;
    height: 400px;
    width: 300px;
    text-align: center;
    vertical-align: top;

    .pre {
        color: #999;
        font-size: 15pt;
    }
    .title {
        font-size: 26pt;
        color: #3E3E3E;
    }

    .seperator {
        height: 4px;
        width: 150px;
        margin: 30px auto;
        background: #8DEBD4;
    }
}