@import "constants";
@import "packages/bourbon/bourbon"; @import "packages/neat/neat";

* {
    box-sizing: border-box;
}

html {

}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 50px;
}

button {
    color: #fff;
    background-color: $PRIMARY_COLOR;
    border: 1px solid $PRIMARY_COLOR;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 15px;
    text-shadow: 0px 1px rgba(0,0,0,0.1);

    &.secondary {
        background-color: #fff;
        border: 1px solid #C3C3C3;
        color: #999;
    }
}

input[type="text"] {
    border: 1px solid $PRIMARY_COLOR;
    padding: 10px 15px;

    &:active, &:focus {
        outline: none;
    }
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    min-height: 600px;
    .content {

    }
}

header {
    margin-bottom: 57px;
    background: #5bb2ef;
    padding-right: 26px;

    img.profile {
        border-radius: 24px;
        height: 40px;
        width: 40px;
    }

    .twitter {
        font-size: 21pt;
        color: white;
        padding-top: 11px;
    }

    .user {
      color: white;
      padding-top: 21px;
      display: inline-block;
      float: right;
      margin: 0px 20px;
      a {
        color: white;
        text-decoration: none;
      }
    }
}

h2 {
    margin: 20px auto 50px auto;
    letter-spacing: normal;
    text-transform: none;
    max-width: 700px;
    line-height: 1em;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -0.08em;
    line-height: 0.8em;
    margin: 35px 0 25px 0;
    padding: 0;
    text-rendering: optimizelegibility;
}

.house {
    font-weight: 300;
    text-align: center;

    .pre {
        color: #999;
        font-size: 15pt;
    }
    .title {
        font-size: 26pt;
        color: #3E3E3E;
    }

    .seperator {
        height: 4px;
        width: 150px;
        margin: 30px 0;
        background: #8DEBD4;
    }

    img {
      width: 175px;
    }
}

.clear {
  clear: both;
}

.house-card {
    background: #f3f3f3;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    margin: 15px 5px 15px 10px;
    padding: 40px 24px;
    height: 400px;
    width: 280px;
    text-align: center;
    vertical-align: top;
    position: relative;

    img {
        width: 190px;
        position: absolute;
        bottom: 0px;
        left: 51px
    }

    .pre {
        color: #999;
        font-size: 15pt;
    }
    .title {
        font-size: 26pt;
        color: #3E3E3E;
    }

    .seperator {
        height: 4px;
        width: 150px;
        margin: 30px auto;
        background: #8DEBD4;
    }

    &:hover {
      border-color: $PRIMARY_COLOR;
    }
}

.house-image {
  width: 30%;
}
.house-details {
  text-align: left;
  width: 70%;
}

.rooms {
  width: 70%;
}
.people {
  width: 30%;

  .pre {
    margin: 20px 0 10px 0px;
    text-align: left;
  }

  .person {
    padding: 15px 0 0 0;
    text-align: left;

    .person-full-name {
      display: inline-block;
      vertical-align: top;
      padding-top: 10px;
      padding-left: 10px;
    }
  }
}

.people-in-admin {
  .person {
    display: inline-block;
    padding: 15px 0 0 0;
    text-align: left;

    .person-full-name {
      display: inline-block;
      vertical-align: top;
      padding-top: 10px;
      padding-left: 10px;
    }
  }
}

.world {
  img.world {
    position: absolute;
    bottom: -172px;
    z-index: 0;
    width: 1000px;
  }

  .start {
    margin: 10px auto 0 auto;
    position: relative;
    height: 600px;

    img {
      width: 200px;
      margin-left: 50px;
      z-index: 999;
      position: relative;
      cursor: pointer;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
      transform: scale(1.2);
      }
      &:active {
        -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
      transform: scale(1.1);
      }
    }
    img.mingle {
      position: absolute;
      right: 0px;
      top: 70px;
      z-index: 0;
    }
  }
}
.rotating {
 -webkit-animation-name: spin;
  -webkit-animation-duration: 40000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 40000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 40000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
}

.rotating.slow {
  -webkit-animation-name: spin;
   -webkit-animation-duration: 30000ms;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation-name: spin;
   -moz-animation-duration: 30000ms;
   -moz-animation-iteration-count: infinite;
   -moz-animation-timing-function: linear;
   -ms-animation-name: spin;
   -ms-animation-duration: 30000ms;
   -ms-animation-iteration-count: infinite;
   -ms-animation-timing-function: linear;
   -o-transition: rotate(3600deg);
}

.game-header {
  background-color: $BACKGROUND;
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  left: 0px;
  top: 0px;

  .brand {
    @include span-columns(3);
    padding-left: 50px;

    img {
      position: relative;
      cursor: pointer;
      width: 150px;
      -webkit-transition: width 0.4s ease-in-out;
      -moz-transition: width 0.4s ease-in-out;
      -o-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      z-index: 999;

      &:hover {
        width: 160px;
      }
    }
  }
  .profile {
    @include span-columns(6);
    padding-top: 20px;

    h2 {
      font-size: 19pt;
      font-weight: 300;
      margin-top: 10px;
    }

    ul.levels {
      list-style: none;

      .level {

        &.completed {
          text-decoration: line-through;
        }
      }
    }
  }
  .stickers {
    @include span-columns(3);
    padding-top: 20px;

    .holder {
      background: transparent;
      border: 1px solid gray;
      border-radius: 24px;
      display: inline-block;
      width: 45px;
      height: 45px;

      .sticker {
        background: $ORANGE;
        border: none;
        border-radius: 24px;
        display: inline-block;
        position: relative;
        width: 43px;
        height: 43px;

        &:hover {
          top: -2px;
          left: -3px;
          cursor: pointer;
        }
      }
    }
  }
}

.circle-of-wow {
  position: absolute;
  top: 50px;
  left: 85px;
  width: 10px;
  height: 10px;
  background: #E47484;
  z-index: 998;
  border-radius:1000px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;


  &.expanded {
    top: -1000px;
    left: -1000px;
    width: 4000px;
    height: 4000px;
    border-radius: 0px;
  }
}

.room {
  display: inline-block;
  padding: 5px 20px;
  margin: 15px;
  width: 250px;
  height: 300px;
  float: left;
  position: relative;
  /* Rectangle 2: */
  background: #f3f3f3;
  vertical-align: top;

  h1 {
    color: #F1596A;
    font-size: 24px;
    font-weight: 400;
    margin-bottom:10px;
  }

  .rateit {
    position: absolute;
    bottom: 20px;
    right: 34%;
    cursor: pointer;
  }
}

.button {
  background: #5bb2ef;
  width: 134px;
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 10px auto;
}

#iron-router-progress {
    background-color : #EF5B6C;
    box-shadow       : none;
}
