@import "constants";

.pull-right {
	display: inline-block;
	float: right;
}

.pull-left {
	display: inline-block;
	float: left;
}

.editable {
	color: $SECONDARY_COLOR;
	cursor: pointer;
}

img.profile {
	border-radius: 100px;
	width: 40px;
}
