<template name="houseCard">
	<div class="house-card">
		<div class="pre">HOUSE OF</div>
		<div class="title">{{this.name}}</div>
		<img class="" src="/houses/house{{this.image}}.png" >
	</div>
</template>

<template name="house">
	<div class="house">
		<div class="pull-left house-image">
			<center>
				<a href="{{pathFor 'home'}}" class="button"><i class="fa fa-arrow-left"></i> Houses</a>
				<img class="" src="/houses/house{{this.image}}.png" >
				{{#if isAdmin}}<button id="edit-house-image">Edit Image</button>{{/if}}
			</center>
		</div>
		<div class="pull-right house-details">
			<div class="pre">HOUSE OF</div>
			<div class="title">{{this.name}}{{#if isAdmin}}<span id="edit-house-name" class="editable">*</span>{{/if}}</div>
			<div class="seperator"></div>

			<div class="description">
				{{#markdown}}
					{{this.description}}
				{{/markdown}}
				{{#if isAdmin}}<span id="edit-house-description" class="editable">*</span>{{/if}}
			</div>
			{{#if isAdmin}}<button id="add-team-member" >+ Team Member</button>{{/if}}
			{{#if isAdmin}}<button id="add-room" >New Room</button>{{/if}}
		</div>
		<div class="clear"></div>
		<div class="pull-left people">
			<div class="pre"><strong>MINGLE</strong> TEAM</div>
			{{#each team}}
				{{> person this}}
			{{/each}}
			<div class="pre"><strong>EXTENDED</strong> TEAM
			<p><small>ThoughtWorkers who've voted on features in this house.</small></p></div>
			<div class="members">
				{{#each members}}
					{{> member this}}
				{{/each}}
			</div>
		</div>
		<div class="pull-right rooms">
			{{#each rooms}}
				{{> room this}}
			{{/each}}
		</div>
	</div>
</template>
