<template name="home">
  <div class="game-header">
    <div class="brand">
      <img src="logo_logged_in.png" id="activate-circle-of-wow">
      <div class="circle-of-wow">

      </div>
    </div>
    <div class="profile">
      <h2>Hello, {{user.profile.name}}</h2>
      <ul class="levels">
        {{#each levels}}
          <li class="level {{#if complete}}completed{{/if}}">{{this.title}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="stickers">
      <div class="holder">
        <div class="sticker"></div>
      </div>
      <div class="holder">

      </div>
      <div class="holder">

      </div>
      <p>You have {{stickers}} of 3 left</p>
    </div>
  </div>
  {{#each houses}}
    {{> houseCard this}}
  {{/each}}
  {{> house selected}}
</template>
