<template name="intro">
  <div class="intro">
    <h1>Hello, {{user.profile.name}}</h1>
    <p>Mingle’s super power is its configurability. You can configure Mingle to support any way of working, from Scrum, Kanban, or your team’s own process.</p>

    <p>However, as with any great super hero, you have to learn to control your powers in order to use them for good.</p>

    <a class="button" id="start_user" href="{{pathFor 'home'}}"><i class="fa fa-star"></i> Get started</a>
  </div>
</template>
